.game {
    display: grid;
    grid-template-columns: 1fr 1000px 1fr;
    height: 70vh;
    place-items: center;
}

.status {
    grid-column:1;
    margin-right: 65px;
    margin-top: 0px;
}

.square.X{
    background-image: url('./blackstone.png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
}

.square.O{
    background-image: url('./whitestone.png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
}

.square{
    background: rgba(255,255,255,0);
    border: 0px solid #04AA6D;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 29px;
    width: 34px;
}

.square.hovered.HX{
    background-image: url('./blackstone.png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    cursor: 'pointer';
    opacity: 0.5;
}

.square.hovered.HO{
    background-image: url('./whitestone.png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    cursor: 'pointer';
    opacity: 0.5;
}

.board-row:after {
    clear: both;
    content: '';
    display: table;
}

.game-board{
    grid-column:2;
    background-image:url('./chessboard.jpeg');
    background-repeat: no-repeat;
    background-size: 670px 670px;
    background-position-x: -15px;
    background-position-y: -18px;
}

.retract {
    grid-column:3;
    margin-right: 0px;
    overflow-y: scroll;
    max-height: 300px;
}